.cta {
  /* Clickable gallery images */
  margin-top: 2rem;
  max-width: 10ch;
  
  padding: 2rem;
  border-radius: 1rem;
}

.cta a {
  margin: auto;
  padding: 1.5rem 1.5rem;
  display: flex;
  width: fit-content;
  
  font-family: 'Inclusive Sans', sans-serif;
  text-decoration: none;

  background-color: white;
  color: hsl(50, 60%, 2%);
  border: solid;
  border-radius: 1.5rem;
}

img.image-container {
  /* Current Displays main images */
  width: 50vh;
  padding: 2rem;
  max-width: 900px;
}

.image-container {
  /* Current Displays main images flexbox */
display: flex;
flex-direction: column;
padding: 5rem;
}