/* Main Gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  margin: 1.5rem;
}

/* Image Cards */
.gallery-image {
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
  margin: 0;
}

/* Image card hover effect */
.gallery-image:hover {
  background-color: #d9792b;
}

/* Screen responsiveness */
@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}