body {
  /* Full Page Layout */
  font-family: 'Inclusive Sans', sans-serif;
  margin: 0;
  min-height: 100vh;

  overflow-x: hidden;
}

header {
  /* Hero Section Image */
  background-image: url("https://fastly.picsum.photos/id/141/2048/1365.jpg?hmac=xcZmN-VINP95YwmI3AXCTIxfzd61fhaczQmodKQjLbY");
  background-repeat: no-repeat;
  background-position: center;
  
  height: 90vh;
  width: 100%;
  
  text-align: center;
  flex-direction: column;
}

main {
  /* Main content margins */
  text-align: center;

  margin: auto;
  min-width: 20ch;
  max-width: 100ch;
}

form {
  /* Form text */
  text-align: center;
  color: white;
}

h1 {
  /* Subheadings on content pages */
  padding: 40px;
  margin: 0;
  color: #1f4865;
}

h2 {
  /* Hero Section Heading */
  font-family: 'Inclusive Sans', sans-serif;
  font-size: 40px;
  color: #1f4865;
  
  padding: 40px;
  margin: 0;
}

h3 {
  /* Image gallery and Content subheadings */
  color: #1f4865;
}

h4 {
  /* Hero Section Subheading */
  font-family: 'Inclusive Sans', sans-serif;
  font-size: 20px;
  color:#1f4865;
  
  padding: 10px;
  margin: 0;
}

button {
  /* padding: 25px; */
  margin: 5px;
}

p {
  /* Paragraph Content */
  min-width: 40ch;
  line-height: 1.5;
  color: #1f4865;
  text-align: center;
}


@media screen and (max-width: 600px) {
  /* Page Break */
  ul {
    text-align: left;
    flex-direction: column;
  }
}

footer {
  /* Sticky Footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;

  font-family: 'Inclusive Sans', sans-serif;
  background-color: #d9792b;
  padding: 1rem;
}

footer p {
  /* Copyright */
  text-align: center;
  padding: 5px;
  color: #1f4865;
}

footer a {
  text-decoration: none;
  color: #1f4865;
}

footer a:hover {
  background-color: #d1af92;
  transition: 0.5s;
}