body {
  /* Full Page Layout */
  font-family: 'Inclusive Sans', sans-serif;
  margin: 0;
  min-height: 100vh;
  
  flex-direction: column;
  display: flex;
}

header {
  /* Hero Section Image */
  background-image: url("https://fastly.picsum.photos/id/141/2048/1365.jpg?hmac=xcZmN-VINP95YwmI3AXCTIxfzd61fhaczQmodKQjLbY");
  background-repeat: no-repeat;
  background-position: center;
  
  height: 90vh;
  width: 100%;
  
  text-align: center;
  flex-direction: column;
}

main, form, p {
  /* Main content margins */
  text-align: center;
  justify-content: center;

  margin: 1rem;
  min-width: 20ch;
  max-width: 100ch;
}

h1, h3 {
  /* Subheadings on content pages */
  padding: 40px;
  margin: 0;
}

h2 {
  /* Hero Section Heading */
  font-family: 'Inclusive Sans', sans-serif;
  font-size: 40px;
  color: white;
  
  padding: 40px;
  margin: 0;
}

h4 {
  /* Hero Section Subheading */
  font-family: 'Inclusive Sans', sans-serif;
  font-size: 20px;
  color: rgb(226, 223, 223);
  
  padding: 10px;
  margin: 0;
}

button {
  /* padding: 25px; */
  margin: 5px;
}

p {
  /* Paragraph Content */
  min-width: 40ch;
  line-height: 1.5;
}


@media screen and (max-width: 600px) {
  /* Page Break */
  ul {
    text-align: left;
    flex-direction: column;
  }
}

footer {
  /* Sticky Footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;

  font-family: 'Inclusive Sans', sans-serif;
  background-color: #d9792b;
  padding: 1rem;
}

footer p {
  /* Copyright */
  text-align: center;
  padding: 5px;
}