.nav-title {
  /* Nav Bar Title */
  font-family: 'Merriweather', serif;
  font-size: 60px;
  padding: 1rem;
  color: #d9792b;
  /* color: inherit; */
}

nav {
  /* Nav Flex Container */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  width: 100%;
  
  background-color: #1f4865;
  color: #d9792b;
}

nav .nav-bar-menu-buttons {
  /* Nav Bar Menu Flexbox */
  display: flex;
  justify-content: flex-end;

  list-style: none;
  padding-right: 1rem;
}


.nav-bar-menu-buttons li {
  /* Main Nav Bar */
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid #f7b684;
}

.nav-bar-menu-buttons a {
  /* Nav Bar Buttons */
  text-align: center;
  color: #f7b684;
  text-decoration: none;
}

nav li:hover {
  /* Nav Bar Hover Effect */
  background-color: #d76100;
  transition: 0.5s;
}

.active {
  /* Active Page Status */
  background-color: #848383;
  border-radius: .5rem;
}

a, a:hover {
  /* Nav Bar Title */
  color: #d9792b;
  color: #848383;

  text-decoration: none;
}